<h1>TODO List</h1>
<a href="{% url 'task_create' %}" class="btn btn-primary">Add task</a>
<ul>
    {% for task in tasks %}
        <li>
            <strong>{{ task.content }}</strong> -
            {% if task.is_done %}
                <span style="color: green;">Done</span>
            {% else %}
                <span style="color: red;">Not done</span>
            {% endif %}
            <p>Created: {{ task.created_at }}</p>
            <p>Tags: {{ task.tags.all|join:" " }}</p>
            <a href="{% url 'task_update' task.id %}">Update</a>
            <a href="{% url 'task_delete' task.id %}">Delete</a>
        </li>
    {% endfor %}
</ul>
